<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examenpractico1ds39">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenPractico1Ds39">
        <activity android:name=".MamiferosAct"></activity>
        <activity android:name=".PecesAct" />
        <activity android:name=".InsectosAct" />
        <activity android:name=".AvesAct" />
        <activity android:name=".AvesActivity" />
        <activity android:name=".mamiferos" />
        <activity android:name=".peces" />
        <activity android:name=".aves" />
        <activity android:name=".insectos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>